# Virtual environment
venv/

# SQLite database file
db.sqlite3
*.sqlite3

# Python compiled files
*.pyc
__pycache__/

# Log files
*.log

# VS Code settings (optional, if using VSCode)
.vscode/

# PyCharm settings (optional)
.idea/

# Prettier Ignore File
.prettierignore

# Environment variables
.env

# Custom scripts
start_fastapi_server.bat

# Media files (user uploads)
shortlistpro/media/
*/media/
media/


# Ignore testing section and all test code
thesis_testing_section.tex
tests/
main.pdf

shortlistpro/test_elevenlabs.py
shortlistpro/test_elevenlabs_complete.py


